{% extends 'frontend/layouts/default.twig' %}

{% block content %}
<div id="content">
    <h2>Comics</h2>
    <form action="{{ URL.route('comics') }}" method="get">
        <p>
            <label for="query">Query</label>
            <input type="text" name="query" id="query" value="{{ query }}">
            <button>Search</button>
        </p>
    </form>

    <div id="comics" class="results">
        {% for com in comics %}
        <article class="card">
            <img src="{{ com['thumbnail']['path'] }}/portrait_incredible.jpg" alt="{{ com['title'] }} thumbnail">
            <footer>
                <h5>
                    <a href="/comic/{{ com['id'] }}" class="card-title">{{ com['title'] }}</a>
                </h5>
                <p>
                    {{ str_limit(com['description'], 160) }}
                </p>
            </footer>
        </article>
        {% endfor %}
    </div>

    <div id="pagination">
        {{ comics.setPath('comics').appends('query', query).render|raw }}
    </div>
</div>
{% endblock %}