{% extends 'frontend/layouts/default' %}

{% block content %}
    <div class="module form-module">
        {% include 'frontend/partials/_errors' with { 'errors' : errors } %}

        <div class="form">
            <h2>{{ Lang.get('frontend/auth.login.title') }}</h2>
            <form action="{{ URL.route('login') }}" method="post" id="login-form">
                <input type="email"
                       id="email"
                       name="email"
                       value="{{ old('email') }}"
                       class="form-control"
                       placeholder="{{ Lang.get('frontend/auth.login.email') }}" autofocus/>

                <input type="password"
                       id="password"
                       name="password"
                       value=""
                       class="form-control"
                       placeholder="{{ Lang.get('frontend/auth.login.password') }}"/>

                {{ csrf_field() }}

                <input type="submit" value="{{ Lang.get('frontend/auth.login.sign_in') }}" />
            </form>
        </div>
        <div class="cta">
            <a href="{{ URL.route('register_index') }}">{{ Lang.get('frontend/auth.login.no_account') }}</a>
        </div>
        <div class="cta">
            <a href="{{ URL.route('reset_password_index') }}">{{ Lang.get('frontend/auth.login.forgot_password') }}</a>
        </div>
    </div>
{% endblock %}