<div class="col-md-12 remove-padding">
    {% if Auth.check %}
        <h1>{{ Lang.get('frontend/comics.comments') }}</h1>

        <form method="post" action="{{ URL.route('frontend.comments.store') }}" id="series-comment-form">
            <div class="form-group">
                <textarea name="comment" class="form-control" rows="5"></textarea>
                <input type="hidden" name="series_id" value="{{ series_id }}"/>
                <div class="text-right top-buffer">
                    <input type="submit"
                           value="{{ Lang.get('frontend/comics.submit_comment') }}"
                           class="btn btn-default text-right"/>
                </div>

                {{ csrf_field() }}
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger">
            {{ Lang.get('frontend/comments.login_to_comment') }}
        </div>
    {% endif %}
</div>
