{% extends 'frontend/layouts/default.twig' %}

{% block content %}
    <div class="module form-module">
        {% include 'frontend/partials/_errors.twig' with { 'errors' : errors } %}

        <div class="form" style="display: block;">
            <h2>{{ Lang.get('frontend/auth.reset_password.title') }}</h2>
            <form method="POST" action="{{ URL.route('reset_password') }}">
                {{ csrf_field() }}

                <div>
                    <input type="email"
                           name="email"
                           id="email"
                           value="{{ old('email') }}"
                           placeholder="{{ Lang.get('frontend/auth.reset_password.email') }}" autofocus/>
                </div>

                <button class="submit">
                    {{ Lang.get('frontend/auth.reset_password.send_link') }}
                </button>
            </form>
        </div>
    </div>
{% endblock %}