{% extends 'frontend/layouts/default.twig' %}

{% block content %}
    <div class="heading-title">
        <h2>{{ Lang.get('frontend/comics.find_your_series') }}</h2>
    </div>

    <form action="{{ URL.route('frontend.series.search') }}" method="get" class="search-series-form">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text"
                           name="query"
                           class="form-control"
                           placeholder="{{ Lang.get('frontend/comics.search_placeholder') }}"
                           id="search-series"
                           value="{{ query }}"/>
                    <span class="input-group-btn">
                        <input type="submit" value="{{ Lang.get('frontend/comics.search') }}" class="btn"/>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="series-list top-buffer">
        {% set i = 0 %}
        {% set shouldOpen = 1 %}
        {% for comic in series %}
            {% set i = i+1 %}

            {% if shouldOpen == 1 %}
                {% set shouldOpen = 0 %}
                <div class="row">
            {% endif %}

            <div class="col-lg-3 col-sm-6">
                <div class="thumbnail">
                    <a href="{{ URL.route('frontend.series.show', {'id': comic['id']}) }}" class="details-btn">
                        <div class="caption-img"
                             style="background: url({{ comic['thumbnail']['path'] }}/{{ Config.get('marvel.series.thumbnail') }});"></div>
                    </a>
                    <div class="caption-details">
                        <h3>{{ comic['title'] }}</h3>
                    </div>
                </div>
            </div>

            {% if i is divisible by(4) or i == series|length %}
                </div>
                {% set shouldOpen = 1 %}
            {% endif %}
        {% endfor %}
    </div>



    {{ series.setPath('search').appends('query', query).render|raw }}
{% endblock %}


