{% extends 'frontend/layouts/default.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ URL.route('frontend.series') }}" class="btn btn-block">
                <i class="glyphicon glyphicon-arrow-left"></i> {{ Lang.get('frontend/comics.back_to_series') }}
            </a>
        </div>
    </div>

    <div class="row series-page top-buffer">
        <div class="col-md-3"> 
            <img src="{{ series['thumbnail']['path'] }}/{{ Config.get('marvel.series.thumbnail') }}"
                 alt="{{ series['title'] }} thumbnail"
                 class="img-responsive"/>

            <a href="{{ series['urls'][0]['url'] }}" class="btn btn-block btn-black" target="_blank">
                {{ Lang.get('frontend/comics.see_at_marvel') }}
            </a>

            {% if Auth.check() %}
                <a href="#" class="btn btn-block" data-toggle="modal" data-target="#add-to-list-modal" id="add-to-list">
                    {{ Lang.get('frontend/comics.add_to_list') }}
                </a>
            {% endif %}
        </div>

        <div class="col-md-9">
            <h2 class="series-title">{{ series['title'] }}</h2>
            <p>{{ series['description'] }}</p>

            <div class="years">
                <div>
                    {{ Lang.get('frontend/comics.period') }}: {{ series['startYear'] }} -
                    {% if series['endYear'] != 2099 %}
                        {{ series['endYear'] }}
                    {% else %}
                        {{ Lang.get('frontend/comics.present') }}
                    {% endif %}
                </div>
            </div>

            {% if series['rating'] %}
                <div class="rating">
                    {{ Lang.get('frontend/comics.rating') }}: {{ series['rating'] }}
                </div>
            {% endif %}

            <ul class="nav nav-tabs top-buffer" role="tablist">
                {% if series['creators']['available'] > 0 %}
                    <li class="active">
                        <a href="#creators" aria-controls="creators" role="tab" data-toggle="tab">
                            {{ Lang.get('frontend/comics.creators') }}
                        </a>
                    </li>
                {% endif %}

                {% if series['characters']['available'] > 0 %}
                    <li>
                        <a href="#characters" aria-controls="characters" role="tab" data-toggle="tab">
                            {{ Lang.get('frontend/comics.characters') }}
                        </a>
                    </li>
                {% endif %}

                {% if series['comics']['available'] > 0 %}
                    <li>
                        <a href="#comics" aria-controls="comics" role="tab" data-toggle="tab">
                            {{ Lang.get('frontend/comics.comics') }}
                        </a>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content">
                {% if series['creators']['available'] > 0 %}
                    <div role="tabpanel" class="tab-pane fade in active" id="creators">
                        <div class="creators">
                            <h3>{{ Lang.get('frontend/comics.creators') }}</h3>
                            <ul class="list-group">
                                {% for creator in series['creators']['items'] %}
                                    <li class="list-group-item">{{ creator['name'] }} ({{ creator['role'] }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if series['characters']['available'] > 0 %}
                    <div role="tabpanel" class="tab-pane fade" id="characters">
                        <div class="characters">
                            <h3>{{ Lang.get('frontend/comics.characters') }}</h3>
                            <ul class="list-group">
                                {% for character in series['characters']['items'] %}
                                    <li class="list-group-item">{{ character['name'] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}

                {% if series['comics']['available'] > 0 %}
                    <div role="tabpanel" class="tab-pane fade" id="comics">
                        <div class="comics">
                            <h3>{{ Lang.get('frontend/comics.comics') }}</h3>
                            <ul class="list-group">
                                {% for comic in series['comics']['items'] %}
                                    <li class="list-group-item">{{ comic['name'] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    {% if Auth.check() %}
        {% include 'frontend/partials/_add_to_list_modal' with {
        'lists' : lists,
        'series' : series,
        'submitUrl' : URL.route('frontend.add_item_to_list')
        } %}
    {% endif %}

    {% include 'frontend/series/partials/_comments_form.twig' with {
    'series_id' : series['id'],
    'comments' : comments
    } %}

    {% include 'frontend/series/partials/_comments.twig' %}
{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ URL.to('assets/css/datetimepicker.css') }}"/>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="application/javascript" src="{{ URL.to('js/datetimepicker.js') }}"></script>

    <script type="application/javascript">
        $('#started-at').datetimepicker({format: 'yyyy/mm'});
        $('#finished-at').datetimepicker({format: 'yyyy/mm'});
    </script>
{% endblock %}