{% extends 'admin/layouts/default.twig' %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        {% include 'admin.partials._errors' %}
                        {{ Form.open({'route': 'admin.change_password_post', 'class': 'form-horizontal'})|raw }}
                            <div class="form-group {{ errors.first('old_password', 'has-error') }}">
                                <label for="old-password" class="col-sm-3 control-label">
                                    {{ Lang.get('admin/profile.old_password') }}
                                </label>

                                <div class="col-sm-6">
                                    {{ form_password(
                                    'old_password',
                                    {
                                        'class': 'form-control required',
                                        'required': 'required',
                                        'id' : 'old-password'
                                    }
                                    ) }}
                                </div>
                            </div>

                            <div class="form-group {{ errors.first('new_password', 'has-error') }}">
                                <label for="new-password" class="col-sm-3 control-label">
                                    {{ Lang.get('admin/profile.new_password') }}
                                </label>

                                <div class="col-sm-6">
                                    {{ form_password(
                                    'new_password',
                                    {
                                        'class': 'form-control required',
                                        'data-minlength': 3,
                                        'required': 'required',
                                        'id' : 'new-password'
                                    }
                                    ) }}
                                </div>
                            </div>

                            <div class="form-group {{ errors.first('confirm_password', 'has-error') }}">
                                <label for="confirm-password" class="col-sm-3 control-label">
                                    {{ Lang.get('admin/profile.confirm_password') }}
                                </label>

                                <div class="col-sm-6">
                                    {{ form_password(
                                    'confirm_password',
                                    {
                                        'class': 'form-control required textarea',
                                        'data-minlength': 3,
                                        'required': 'required',
                                        'id' : 'confirm-password'
                                    }
                                    ) }}
                                </div>
                            </div>

                            {% include 'admin.partials._submit_buttons' with {'route': route('admin.static.index')} %}
                        {{ Form.close()|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}