{% set i = 0 %}
{% set shouldOpen = 1 %}
{% for list in lists %}
    {% set i = i+1 %}

    {% if shouldOpen == 1 %}
        {% set shouldOpen = 0 %}
        <div class="row">
    {% endif %}

    <div class="col-lg-3 col-sm-6">
        <div class="list-card hovercard list-block">
            <div class="card-background">
                {% if list['avatar']|length %}
                    <img class="card-bkimg" src="{{ URL.to(list['avatar']) }}" alt="profile"/>
                {% else %}
                    <img class="card-bkimg" src="{{ URL.to(Config.get('image.default_avatar')) }}"/>
                {% endif %}
            </div>

            <div class="avatar">
                <a href="{{ URL.route('frontend.profile_view_list', {'id' : list['id']}) }}">
                    {% if list['avatar']|length %}
                        <img alt="avatar" src="{{ URL.to(list['avatar']) }}">
                    {% else %}
                        <img alt="avatar" src="{{ URL.to(Config.get('image.default_avatar')) }}"/>
                    {% endif %}
                </a>
            </div>

            <div class="info">
                <div class="title">{{ list['title'] }}</div>
                <div class="desc">{{ list['comment'] }}</div>
            </div>
        </div>
    </div>

    {% if i is divisible by(4) or i == lists|length %}
        </div>
        {% set shouldOpen = 1 %}
    {% endif %}
{% endfor %}