<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="list-card hovercard">
            <div class="card-background">
                {% if avatar|length %}
                    <img class="card-bkimg" src="{{ avatar['large'] }}" alt="profile"/>
                {% else %}
                    <img class="card-bkimg" src="{{ URL.to('/images/marvel_read.png') }}" alt="profile"/>
                {% endif %}
            </div>

            <div class="avatar">
                <a href="#">
                    <img alt="" src="{{ URL.to('images/gray_plus.png') }}">
                </a>
            </div>

            <div class="info">
                <div class="title">{{ Lang.get('frontend/profile.add_new_list') }}</div>
                <div class="desc">{{ Lang.get('frontend/profile.add_new_list_description') }}</div>
            </div>
        </div>
    </div>
</div>
