<div>
    {% if resource.avatar|length %}
        <img src="{{ avatar }}" alt="profile" />
    {% endif %}

    <label for="avatar">{{ Lang.get('frontend/profile.avatar') }}</label>
    {{ form_file('avatar', NULL, { 'id': 'avatar' }) }}
</div>

<div>
    <label for="real_name">{{ Lang.get('frontend/profile.real_name') }}</label>
    {{ form_text('real_name', NULL, { 'id': 'real_name' }) }}
</div>

<div>
    <label for="about_me">{{ Lang.get('frontend/profile.about_me') }}</label>
    {{ form_textarea('about_me', NULL, { 'id': 'about_me' }) }}
</div>

{{ csrf_field() }}

<button type="submit">{{ Lang.get('frontend/profile.submit') }}</button>
