<div class="form-group">
    <label for="real_name">{{ Lang.get('frontend/profile.real_name') }}</label>
    {{ form_text('real_name', NULL, { 'id': 'real-name', 'class': 'form-control' }) }}
</div>

<div class="form-group">
    <label for="about_me">{{ Lang.get('frontend/profile.about_me') }}</label>
    {{ form_textarea('about_me', NULL, { 'id': 'about-me', 'class': 'form-control' }) }}
</div>

{{ csrf_field() }}

<div class="form-group text-right">
    <button type="submit" class="btn" id="submit-user-profile">
        {{ Lang.get('frontend/profile.submit') }}
    </button>
</div>
