{% extends 'frontend/layouts/default.twig' %}

{% block content %}
    <div class="profile-card hovercard">
        <div class="card-background">
            <img src="{{ URL.to(Config.get('image.default_profile_bg')) }}" alt="profile"/>
        </div>

        <div class="useravatar">
            {% if avatar|length %}
                <img src="{{ avatar['medium'] }}" alt="profile"/>
            {% else %}
                <img src="{{ URL.to(Config.get('image.default_avatar')) }}" alt="profile"/>
            {% endif %}
        </div>

        <div class="card-info">
            <span class="card-title">{{ profile.real_name }} ({{ profile.user.nickname }})</span>
        </div>
    </div>

    <div class="well">
        <div class="public-profile">
            {% if profile.about_me|length %}
                <div class="about-me">
                    <h2>{{ Lang.get('frontend/profile.about_me_title') ~ profile.user.nickname }}</h2>
                    {{ profile.about_me }}
                </div>
            {% endif %}

            <hr/>

            {% if characters|length %}
                <div class="favourite-characters">
                    <h2>{{ profile.user.nickname ~ Lang.get('frontend/profile.favourite_characters_title') }}</h2>
                    {% set i = 0 %}
                    {% set shouldOpen = 1 %}
                    {% for character in characters %}
                        {% set i = i+1 %}

                        {% if shouldOpen == 1 %}
                            {% set shouldOpen = 0 %}
                            <div class="row">
                        {% endif %}

                        <div class="col-lg-3 col-sm-6">
                            <div class="list-card characters hovercard">
                                <div class="card-background"></div>

                                <div class="avatar">
                                    <a href="{{ URL.route('frontend.characters.show', {'id' : character['id'], 'url_slug' : str_slug(character['name'])}) }}">
                                        <img class="character"
                                             src="{{ character['thumbnail']['path'] }}/{{ Config.get('marvel.characters.profile_small_thumbnail') }}"/>
                                    </a>
                                </div>

                                <div class="info">
                                    <div class="title">{{ character['name'] }}</div>
                                </div>
                            </div>
                        </div>

                        {% if i is divisible by(4) or i == characters|length %}
                            </div>
                            {% set shouldOpen = 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if lists|length %}
                <div class="lists">
                    <h2>{{ profile.user.nickname ~ Lang.get('frontend/profile.lists_title') }}</h2>
                    {% set i = 0 %}
                    {% set shouldOpen = 1 %}
                    {% for list in lists %}
                        {% set i = i+1 %}

                        {% if shouldOpen == 1 %}
                            {% set shouldOpen = 0 %}
                            <div class="row">
                        {% endif %}

                        <div class="col-lg-3 col-sm-6">
                            <div class="list-card hovercard">
                                <div class="card-background"></div>

                                <div class="avatar">
                                    <a href="{{ URL.route('frontend.lists.public', {'list_hash' : list['hash']}) }}">
                                        {% if list['avatar']|length %}
                                            <img class="list" src="{{ URL.to(list['avatar']) }}">
                                        {% else %}
                                            <img class="list" src="{{ URL.to(Config.get('image.default_list')) }}"/>
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="info">
                                    <div class="title">{{ list['title'] }}</div>
                                    <div class="desc">{{ list['comment'] }}</div>
                                </div>
                            </div>
                        </div>

                        {% if i is divisible by(4) or i == lists|length %}
                            </div>
                            {% set shouldOpen = 1 %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="application/javascript" src="{{ URL.to('/js/profile.js') }}"></script>
{% endblock %}