<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ Lang.get('frontend/index.confirm_delete_title') }}</h4>
            </div>

            <div class="modal-body">
                {{ Lang.get('frontend/index.confirm_delete_body') }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">
                    {{ Lang.get('frontend/index.close') }}
                </button>

                <button type="submit"
                        class="btn confirm-btn"
                        data-submit-url="{{ submitUrl }}"
                        data-csrf="{{ csrf_token() }}">
                    {{ Lang.get('frontend/index.confirm') }}
                </button>
            </div>
        </div>
    </div>
</div>