<a href="{{ URL.route('home') }}">{{ Lang.get('frontend/navbar.home') }}</a>
<a href="{{ URL.route('frontend.comics') }}">{{ Lang.get('frontend/navbar.comics') }}</a>
<a href="{{ URL.route('frontend.characters') }}">{{ Lang.get('frontend/navbar.characters') }}</a>

{% if Auth.check %}
    <a href="{{ URL.route('frontend.profile') }}" id="logout-link">{{ Lang.get('frontend/navbar.profile') }}</a>
    <a href="{{ URL.route('logout') }}" id="logout-link">{{ Lang.get('frontend/navbar.logout') }}</a>
{% else %}
    <a href="{{ URL.route('login') }}" id="login-link">{{ Lang.get('frontend/navbar.login') }}</a>
    <a href="{{ URL.route('register') }}" id="register-link">{{ Lang.get('frontend/navbar.register') }}</a>
{% endif %}
